:root {
  /* BatchGenie specific */
  --main-accent-color-red: #E0425D;
  --main-accent-color-green: #15ac59;
  --main-accent-color-blue: #4952d3;
  --main-accent-color-orange: #ffa500;
  --main-box-bg: #f1f1f1;
  --main-box-border-color: #e0e0e0;
}

.img-box{
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

/* ######## < MOBILE > ######## */
@media (max-width: 768px) {
  .img-box {
    float: none;
    margin: 0 auto 15px auto;
    max-width: 100%;
    width: 100%;
  }
  /* Target images aligned right */
  .img-box[align="right"] {
     float: right; /* Solves issue on mobile for images that are floating right...so float it right again..*/
    /* margin-left: 0px;
    margin-right: auto;  */
  }
}
/* Header */
@media (max-width: 768px) {
  .md-header__topic {
    font-size: calc(1rem - 0.27rem); /* Subtracting from the base size */
  }
}
/* ######## </ MOBILE > ######## */

/* ######## < SHOP BUTTONS > ######## */
.md-typeset .md-button--stretch {
  width: 99%;
  text-align: center;
}
/* Gumroad */
.gumroad{
  color: #ed98e6;
  transition: color 0.3s ease;
}
.md-button:hover .gumroad {
  color: rgb(31, 31, 31);
}
/* ######## </ SHOP BUTTONS > ######## */

/* ######## < GRID > ######## */
/* Light mode */
.md-typeset .grid.cards>ol>li, .md-typeset .grid.cards>ul>li, .md-typeset .grid>.card {
  background-color: #f1f1f1; /* Light background */
}
.md-typeset .grid_custom>ul>li:hover {
  border: .05rem solid rgb(155, 155, 155) !important;
}
/* Dark mode */
[data-md-color-scheme="slate"]{
  .md-typeset .grid.cards>ol>li, .md-typeset .grid.cards>ul>li, .md-typeset .grid>.card {
    background-color: #1A1C23;
  }
  .md-typeset .grid_custom>ul>li:hover {
    border: .05rem solid #4B4D58 !important; /* Adjust border color for dark mode */
  }
}
/* ######## </ GRID > ######## */

/* ######## < FOOTER > ########  */
/* Replace the Social in the footer */
/* Desktop */
.batchgenie_footer_container {
  display: flex;
  /* justify-content: center; */
  color: var(--md-footer-fg-color--lighter);
  margin: auto .6rem;
  padding: .4rem 0;
}
.batchgenie_footer_link {
  margin: 0 .6rem;
}
/* Mobile */
@media (max-width: 768px) {
  .batchgenie_footer_container {
    justify-content: flex-end; /* Align content on smaller screens */
    text-align: center;
    margin: auto;
  }
  .batchgenie_footer_link {
    margin: 0 .3rem; /* Adjust margin for mobile */
  }
}
/* ######## </ FOOTER > ########  */

/* ######## < ADMONITION > ########  */
/* Custom 'info2' */
:root {
  --md-admonition-icon--info2: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2Z"/></svg>');
}
.md-typeset .admonition.info2,
.md-typeset details.info2 {
  border-color: rgb(43, 155, 70);
}
.md-typeset .info2 > .admonition-title,
.md-typeset .info2 > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .info2 > .admonition-title::before,
.md-typeset .info2 > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--info2);
          mask-image: var(--md-admonition-icon--info2);
}
/* ######## </ ADMONITION > ########  */

/* ######## < VIDEO PLAYER > ######## */
.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.chapter-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}
.chapter-list li {
  margin-bottom: 2px;
}
.chapter-list .timestamp {
  color: var(--md-primary-bg-color--light);
  font-weight: bold;
}
/* ######## </ VIDEO PLAYER > ######## */

/* ######## < Mermaid Diagrams > ######## */
.mermaid .node rect {
  fill: rgb(104, 169, 216) !important;
  stroke: #000000 !important;
}
.mermaid svg path {
  stroke: #0790cf !important;
}
.mermaid svg marker path {
  fill: #0790cf !important;
}
.mermaid .nodeLabel {
  color: #15144e !important;
}
/* ######## </ Mermaid Diagrams > ######## */

/* ######## < CHANGELOG > ######## */
/* Compact */
.md-typeset .changelog>blockquote>p{ /* Blockquote for blender version compability */
  margin-bottom:-0.9em;
  margin-top:-0.5em;
}
.md-typeset .changelog>ul>li { /* Main List items */
  list-style-type: none;
  margin-bottom:0.9em;
  margin-top: -0.1em;
  margin-left: 0.75em;
}
.md-typeset .changelog>ul>li>ul {
  margin-top:-0.1em;
  line-height: 1.5; /* 1.6 is default */
}
h3 small { /* Date */
  margin-left: 0.7em;
  font-size: 75%;
}
.changelog h3{
  margin-top:-0.1em;
  margin-bottom:-0.3em;
}
/* ######## </ CHANGELOG > ######## */